<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990581502869-026g45fg3p4p97slr3v06506n7ob91be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990581502869-026g45fg3p4p97slr3v06506n7ob91be</string>
	<key>API_KEY</key>
	<string>AIzaSyAaSUC9Le_hfp174vFBort0vCOeXGLVnQE</string>
	<key>GCM_SENDER_ID</key>
	<string>990581502869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JohnKouris.Grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-276b0</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-276b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990581502869:ios:8b449dcbeba5a5cad0fc9c</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-276b0.firebaseio.com</string>
</dict>
</plist>